<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <pre-loader></pre-loader>
    <header>
        <nav-bar></nav-bar>
    </header>
    <div id="app">

    </div>
</body>

</html>