<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <meta http-equiv="origin-trial"
        content="AihWEIUvSGayP+PvtOLnSDoRu6yS7SpSN7bRY9PCmmVztM9qi6OYWvolwkdXDM4IigQgcKZL0qaQAizBQMexcQQAAABXeyJvcmlnaW4iOiJodHRwOi8vbG9jYWxob3N0OjgwODAiLCJmZWF0dXJlIjoiTm90aWZpY2F0aW9uVHJpZ2dlcnMiLCJleHBpcnkiOjE1OTU5ODA3OTl9">
    <meta http-equiv="origin-trial"
        content="Aql/vpYFtHwWBegw8G1Ke3TX9uyZITS3hQ2M200SqcIUY2nV9wao0cSt44nDQ+rpJOeCADcs6o6ICCuf47Mx0wQAAABXeyJvcmlnaW4iOiJodHRwOi8vMTI3LjAuMC4xOjgwODAiLCJmZWF0dXJlIjoiTm90aWZpY2F0aW9uVHJpZ2dlcnMiLCJleHBpcnkiOjE1OTU5ODA3OTl9">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <pre-loader></pre-loader>
    <header>
        <nav-bar></nav-bar>
    </header>
    <main id="app">

    </main>
</body>

</html>