<div class="entry">
    <main>
        <div class="container">
            <h4>Standing</h4>
            <a class='dropdown-trigger btn' href='#' data-target='select-league'>Select League!</a>
            <!-- Dropdown Structure -->
            <ul id='select-league' class='dropdown-content'>
                <li><a href="#!" data-id="2001">Champions League</a></li>
                <li><a href="#!" data-id="2002">Germany League</a></li>
                <li><a href="#!" data-id="2003">Netherlands League</a></li>
                <li><a href="#!" data-id="2021">England League</a></li>
                <li><a href="#!" data-id="2014">Spain League</a></li>
                <li><a href="#!" data-id="2015">France League</a></li>
            </ul>
            <standing-list></standing-list>
        </div>
    </main>
</div>