<div class="entry">
    <header>
        <nav-bar></nav-bar>
    </header>
    <main>
        <div class="container">
            <h4>Matches</h4>
            <table>
                <tbody>
                    <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                    </tr>
                    <tr>
                        <td>Alan</td>
                        <td>Jellybean</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>